SOOG_DB_HOST=
SOOG_DB_USER=
SOOG_DB_PASS=
SOOG_DB_DATABASE=
SOOG_DB_DRIVER=

MAIL_JET_SECRET=
MAIL_JET_KEY=
NODE_ENV="development"

APPWRITER_CLIENT_ID=""

APP_STATUS="development"


SOOG_STATUS="development"

SOOG_STARTER_PLAN_ID=
SOOG_PRO_PLAN_ID=
SOOG_PRO_PLAN_ID_TEST=
SOOG_STARTER_PLAN_ID_TEST=

SOOG_SUBSCRIPTION_RETURN_URL=
SOOG_SUBSCRIPTION_CANCEL_URL=

SOOG_SUBSCRIPTION_RETURN_URL_TEST=
SOOG_SUBSCRIPTION_CANCEL_URL_TEST=                                                                                                    
                                                                                                                                                                            
                                                                                                                                                                            
SOOG_SMTP_HOST=
SOOG_SMTP_PORT=587
SOOG_SMTP_USER=
SOOG_SMTP_PASS=
SOOG_SMTP_FROM=

SOOG_PAYPAL_CLIENT_ID_TEST=
SOOG_PAYPAL_SECRET_TEST=

SOOG_PAYPAL_CLIENT_ID_LIVE=
SOOG_PAYPAL_SECRET_LIVE=

SOOG_ACTIVATION_LINK=
SOOG_RESET_LINK=

SERVER_PORT=3000

#GLOBALS

#MAIL
GLOBAL_SMTP_HOST=
GLOBAL_SMTP_PORT=465
GLOBAL_SMTP_USER=
GLOBAL_SMTP_PASS=
GLOBAL_SMTP_FROM_EMAIL=

#SQL
GLOBAL_DB_HOST="localhost"
GLOBAL_DB_USER=
GLOBAL_DB_PASS=
GLOBAL_DB_DATABASE="dev"
GLOBAL_DB_DRIVER="mysql"
PAYPAL_AUTH_ENDPOINT="oauth2/token"
PAYPAL_SUBSCRIPTION_ENDPOINT="billing/subscriptions"

PAYPAL_BASE_URL_TEST="https://api-m.sandbox.paypal.com/v1/"
PAYPAL_BASE_URL_LIVE="https://api-m.paypal.com/v1/"

